/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BACKGROUND */
body {
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dhym83o6r/image/upload/v1767259210/chicken-biryani-5_n3pwns.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* FIXED PAGE */
.page {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

/* HEADER */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

/* LOGO */
.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* MENU ICON */
.menu-icon {
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* HIDE CHECKBOX */
#menu-toggle {
    display: none;
}

/* MENU */
.nav {
    position: absolute;
    top: 70px;
    right: 30px;
    width: 200px;
    display: none;
    flex-direction: column;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 12px;
    background: rgba(0,0,0,0.4);
}

/* SHOW MENU */
#menu-toggle:checked ~ .nav {
    display: flex;
}

/* SEARCH BELOW HEADER - CENTERED */
.search-container {
    padding: 10px 30px;
    display: flex;
    justify-content: center;   /* center horizontally */
}

.search-box {
    width: 100%;
    max-width: 600px;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 15px;
}


/* CARD SECTION */
.cards {
    padding: 30px;
    display: flex;
    justify-content: center;   /* center horizontally */
}

/* CARD */
.card {
    width: 420px;
    background: rgba(255,255,255,0.95);
    border-radius: 15px;
    overflow: hidden;
}

/* IMAGE */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* CARD BODY */
.card-body {
    padding: 15px;
}

.rating {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}
.cards {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TAGS */
.tags span {
    background: #ffe0b2;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-right: 6px;
}




